# the config file should be a symlink to the actual config
/.config/i3blocks/config

# ignore auth tokens in npmrc
/.config/npm/npmrc

# worktrees
.wt/

# custom files
.config/nvim/lua/my/custom.lua
.config/nvim/vim/custom.vim
