! ============
! >> Global <<
! ============

*depth: 32
*background: [85]#20201d
*foreground: #a6a28c
*cursorColor: #a6a28c



! ==========
! >> Sxiv <<
! ==========
Sxiv.background: #20201d



! ===========
! >> URxvt <<
! ===========

URxvt.font: xft:Fantasque Sans Mono:size=12
URxvt.scrollBar: false
URxvt.scrollTtyOutput: false

URxvt.perl-ext: default,url-select,resize-font,xim-onthespot

! japanese ime in terminal
URxvt.inputMethod: fcitx
URxvt.preeditType: OnTheSpot

! handle urls
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

! Base16 Colors
! Scheme: mrmrs (http://clrs.cc)

URxvt.background:                     [90]#111111
URxvt.foreground:                     #bbbbbb
URxvt.cursorColor:                    #bbbbbb

URxvt.scrollColor:                    #bbbbbb
URxvt.highlightColor:                 #555555
URxvt.highlightTextColor:             #999999

URxvt.color0:                         #111111
URxvt.color1:                         #ff4136
URxvt.color2:                         #2ecc40
URxvt.color3:                         #ffdc00
URxvt.color4:                         #0074d9
URxvt.color5:                         #b10dc9
URxvt.color6:                         #7fdbff
URxvt.color7:                         #bbbbbb
URxvt.color8:                         #777777
URxvt.color9:                         #ff4136
URxvt.color10:                        #2ecc40
URxvt.color11:                        #ffdc00
URxvt.color12:                        #0074d9
URxvt.color13:                        #b10dc9
URxvt.color14:                        #7fdbff
URxvt.color15:                        #ffffff

URxvt.color16:                        #ff851b
URxvt.color17:                        #85144b
URxvt.color18:                        #333333
URxvt.color19:                        #555555
URxvt.color20:                        #999999
URxvt.color21:                        #dddddd
