! ============
! >> Global <<
! ============

*depth: 32
*background: [85]#20201d
*foreground: #a6a28c
*cursorColor: #a6a28c



! ==========
! >> Sxiv <<
! ==========
Sxiv.background: #20201d
Sxiv.font: Hack Nerd Font:size=12:style=Regular
