[Unit]
Description=B2 Sync Documents

[Service]
Type=simple
Environment=B2_BUCKET=documents-DwFtJl2V
ExecStart=/bin/sh -c 'DOCS="$(xdg-user-dir DOCUMENTS)"; rclone bisync --verbose --fast-list --filters-file="$DOCS/.rclonefilters" "$DOCS" "b2:$B2_BUCKET/"'
