[Unit]
Description=IMAPNotify: Run on New Mail (%i)
After=network-online.target

[Service]
Environment=NOTMUCH_CONFIG=/home/jonathan/.config/notmuch/config
ExecStart=/usr/bin/goimapnotify -conf %h/.config/imapnotify/%i.conf

[Install]
WantedBy=default.target
