[Unit]
Description=KDEConnect Protocol implemented in Vala
Wants=network-online.target
After=network-online.target graphical.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/mconnect -d

[Install]
WantedBy=default.target
