[Desktop Entry]
Version=1.0
Type=Application
Name=surf-open
GenericName=Web Browser
Comment=Open new surf window in existing tabbed session
Categories=Network;WebBrowser
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Exec=surf-open.sh %U
Terminal=false
