# i3blocks configuration file
#
# laptop version of my i3blocks config file
# this version will include battery and brightness levels on the i3bar, which
# wouldn't make sense in desktop versions

# Global properties
separator=true
separator_block_width=15

[weather]
command=scripts/weather
interval=3600

[volume]
command=scripts/volume
signal=1
interval=once

[date]
command=echo " $(date '+%Y-%m-%d')"
interval=60

[time]
# update date if the time is "00:00"
command=echo " $(date '+%H:%M')" && [ "$(date '+%H%M')" = "0000" ] && pkill -SIGRTMIN+3 i3blocks
interval=5

