# i3blocks configuration file
#
# laptop version of my i3blocks config file
# this version will include battery and brightness levels on the i3bar, which
# wouldn't make sense in desktop versions

# Global properties
separator=true
separator_block_width=15

# colors for scripts
_cgreen="#2ecc40"
_cyellow="#ffdc00"
_cred="#ff4136"

[weather]
command=scripts/weather
interval=3600

[battery]
command=scripts/battery
interval=60

[brightness]
command=scripts/brightness
signal=2
interval=once

[volume]
command=scripts/volume
signal=1
interval=once

[date]
command=echo " $(date '+%Y-%m-%d')"
signal=3
interval=once

[time]
# update date if the time is "00:00"
command=echo " $(date '+%H:%M')" && [ "$(date '+%H%M')" = "0000" ] && pkill -SIGRTMIN+3 i3blocks
interval=10

