# i3blocks configuration file
#
# laptop version of my i3blocks config file
# this version will include battery and brightness levels on the i3bar, which
# wouldn't make sense in desktop versions

# Global properties
separator=true
separator_block_width=15

[brightness]
command=scripts/brightness
signal=2
interval=once

[volume]
command=scripts/volume
signal=1
interval=once

[date]
command=echo " $(date '+%Y-%m-%d')"
interval=60

[time]
command=echo " $(date '+%H:%M')"
interval=5

